<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>:: Swift - Hospital Admin ::</title>
<link rel="icon" href="favicon.ico" type="image/x-icon"><!-- Favicon-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link href="assets/plugins/morrisjs/morris.css" rel="stylesheet" />
<!-- Custom Css -->
<link href="assets/css/main.css" rel="stylesheet">
<!-- Swift Themes. You can choose a theme from css/themes instead of get all themes -->
<link href="assets/css/themes/all-themes.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/055069d188.js"></script>
</head>

<body class="theme-cyan">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-cyan">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader --> 
<section> 
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar"> 
        <!-- User Info -->
        <div class="user-info">
            <div class="admin-image"> <img src="assets/images/random-avatar7.jpg" alt=""> </div>
            <div class="admin-action-info"> <h3 style="font-size: 20px">DOC</h3>
                <span style="font-size: 13px">Is the place you</span>
                <span style="font-size: 13px">want to be if you are</span>
                <span style="font-size: 13px">looking for immediate</span>
                <span style="font-size: 13px">medical assisstance</span>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active open"><a href="/"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>                                               
                <li><a href="/doctors"><i class="zmdi zmdi-account-add"></i><span>Doctors</span> </a>
                </li>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar --> 
</section>

<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Dashboard</h2>
            <small class="text-muted">Welcome to DOC application</small>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="info-box-4 hover-zoom-effect">
                    <div class="icon"> <i class="zmdi zmdi-account col-blue"></i> </div>
                    <div class="content">
                        <div class="text"><strong>Number of Subscribers</strong></div>
                        <div class="number"><%=data.length%></div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2> New Doctors List <small>Description text here...</small> </h2>
                    </div>
                    <div class="body">
                        <% for(var i=data.length-1; i>data.length-3; i--){ %>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="member-card verified">
                                            <div class="thumb-xl member-thumb">
                                                <img src="assets/images/random-avatar3.jpg" class="img-circle" alt="profile-image">
                                                <i class="zmdi zmdi-info" title="verified user"></i>
                                            </div>

                                            <div class="">
                                                <h4 class="m-b-5">Dr. <%= data[i].name %></h4>
                                                <p class="text-muted"><%= data[i].function %><span> 
                                            </div>

                                            <p class="text-muted"><%= data[i].address %></p>  
                                            <div>
                                                <a href="tel:<%= data[i].tel %>"><i class="fa fa-phone" aria-hidden="true" style="font-size:32px;color:green"></i></a>
                                            </div>                        
                                            <a href="/profile/<%= data[i].id %>" class="btn btn-raised btn-sm">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         <% } %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="color-bg"></div>

<!-- Jquery Core Js --> 
<script src="assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
<script src="assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 

<script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script> <!-- Sparkline Plugin Js -->
<script src="assets/plugins/chartjs/Chart.bundle.min.js"></script> <!-- Chart Plugins Js --> 

<script src="assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js --> 
<script src="assets/js/pages/charts/sparkline.min.js"></script> 
<script src="assets/js/pages/charts/chartjs.min.js"></script>

<script src="assets/js/pages/index.js"></script>
</body>
</html>